In [2]:
import pandas as pd

In [3]:
# Load the dataset
df = pd.read_csv('people.csv')

In [5]:
df

      Name  Age         City Favorite_Color
0    Alice   25     New York           Blue
1      Bob   30  Los Angeles          Green
2  Charlie   22      Chicago            Red
3    Diana   35      Houston         Yellow
4    Ethan   28      Phoenix           Blue

In [9]:
print(f"Number of rows: {df.shape[0]} \nNumber of column : {df.shape[1]}")

Number of rows: 5
Number of column : 4

In [10]:
print(f"Size (total elements): {df.size}")
print("\nFirst five rows:\n", df.head())

Size (total elements): 20

First five rows:
       Name  Age         City Favorite_Color
0    Alice   25     New York           Blue
1      Bob   30  Los Angeles          Green
2  Charlie   22      Chicago            Red
3    Diana   35      Houston         Yellow
4    Ethan   28      Phoenix           Blue

In [11]:
# Check for missing values
print("\nMissing values in each column:")
print(df.isnull().sum())

Missing values in each column:
Name              0
Age               0
City              0
Favorite_Color    0
dtype: int64

In [13]:
# Numerical columns summary
numerical_cols = df.select_dtypes(include=['number']).columns

print("\nSummary statistics for numerical columns:")
for col in numerical_cols:
    print(f"\nColumn: {col}")
    print(f"Sum: {df[col].sum()}")
    print(f"Average: {df[col].mean()}")
    print(f"Minimum: {df[col].min()}")
    print(f"Maximum: {df[col].max()}")

Summary statistics for numerical columns:

Column: Age
Sum: 140
Average: 28.0
Minimum: 22
Maximum: 35

In [14]:
# Export the dataframe to a new CSV file
df.to_csv('people_exported.csv', index=False)
print("\nDataset exported to 'people_exported.csv'")

Dataset exported to 'people_exported.csv'